* {
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  code {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  code {
    font-size: 10px;
  }
}
